<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>

    <servlet>
        <servlet-name>DelegationAdd</servlet-name>
        <servlet-class>com.isa.cm3.servlets.DelegationAdd</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>DelegationAdd</servlet-name>
        <url-pattern>/DelegationAdd</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DelegationAddForm</servlet-name>
        <servlet-class>com.isa.cm3.servlets.DelegationAddForm</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>DelegationAddForm</servlet-name>
        <url-pattern>/DelegationAddForm</url-pattern>
    </servlet-mapping>
    <display-name>Archetype Created Web Application</display-name>
</web-app>
