html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #999999 !important;
}

.main11 {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.centered-wrapper  {
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: #999999 !important;
}

.centered-content {
    display: inline-block;
    vertical-align: middle;
    background-color: #999999 !important;
}
